/* src/styles/colors.css */
:root {
  --color-rosa: #f065af;
  --color-celeste: #bbe2f8;
  --color-azul-claro: #e4f7fe;
  --color-azul: #0e9fe5;
  --color-azul-oscuro: #1d61ad;
  --color-amarillo-oscuro: #fac821;
}
